<%- include header %>
<script type="text/javascript">
	$(function(){
		$("nav ul li").removeClass("active");
	});
</script>

<ul>
	<li> <%= info.name %> </li>
	<li> <%= info.email %> </li>
</ul>

<%- include footer %>