<div class="container jumbotron">  
 <h1>欢迎来到 IShare。</h1>  
  <p>IShare 是一个基于Node.js，MongoDB以及bootstrap搭建的LBS手机地图组件组的内部知识分享平台。</p> 
  <p>
  <a class="btn btn-primary btn-lg" href="/login">登录</a>     
  <a class="btn btn-default btn-lg" href="/reg">立即注册</a>  
  </p>
</div> 
<div class="row"> 
  <div class="col-md-4"> 
  	<div class="thumbnail">
      <h2>碰撞</h2>      
      <p class="lead">在这里，认真、求知、信任与相互尊重，比肤浅的趣味更有意义.</p> 
  	</div>
  </div> 
  <div class="col-md-4">     
  	<div class="thumbnail">
  		<h2>交流</h2> 
     	<p class="lead"> 在这里，真正有价值的信息是绝对的稀缺品，远未得到有效的挖掘和利用.</p> 
     </div>
 </div> 
  <div class="col-md-4">
  	<div class="thumbnail">
       <h2>协作</h2> 
      <p class="lead">在这里，人与人，可以通过言之有物的分享，建立起真诚而友善的关系.</p>
    </div> 
  </div> 
</div> 
<br/>